.container {
    padding-top: 30px;
    padding-bottom: 40px;
}

.table th, #link {
    text-align: center;
}

.table th, td {
    vertical-align: middle;
}

i {
    font-size: 1.5em;
}

#link i {
    font-size: 1.75em;
}